@{
    ViewData["Title"] = "Crew Page";
}

<div class="splash-title">
    <h1 class="display-4">Crew</h1>

      @foreach(Bandit bandit in Model)
      {
        <p><a asp-controller="Bandit" asp-action="Show" asp-route-id="@bandit.Id"> @bandit.Name The
        @if(bandit.Class.Strength > 9)
        {
          <span>Mighty</span>
        }
        else
        {
          <span>Weak</span>
        }
        @bandit.Class.Name
        </a></p>
      }
</div>
