@{
  ViewData["Title"] = "Home Page";
}

<div class="splash-title">
  <h1 class="display-4">BANDITS OF THE COAST</h1>
  <h3>Creat Bandit Form</h3>
</div>

<form asp-controller="Bandit" asp-action="Create" method="post">
  <div class="">
    <label for="banditName">Bandit Name</label>
    <input type="text" name="banditName">
  </div>
  <div class="">

    <label for="banditClass">Bandit Name</label>
    <select class="" name="banditClass">
      @if (ViewBag.Classes != null && ViewBag.Classes.Count > 0)
      {

        @foreach(Classes c in ViewBag.Classes)
        {
          if (c == ViewBag.Classes[0])
          {
            <option selected="selected" value="@c.Id">@c.Name</option>
          }
          else
          {
            <option value="@c.Id">@c.Name</option>
          }
        }
      }      
    </select>
  </div>

  <button type="submit">Create Bandit</button>
</form>
