@{
    ViewData["Title"] = "Class Index";
}

<div class="splash-title">
    <h1 class="display-4">BANDITS OF THE COAST</h1>
    <h2>Class List</h2>
    <h3>@Model.Name</h3>
    <p>Total Health: @Model.TotalHealth</p>
    <p>Strength: @Model.Strength</p>
    <p>Dexterity: @Model.Dexterity</p>

</div>

@* https://www.moddb.com/games/baldurs-gate-enhanced-edition/addons/super-ultimate-portrait-pack-zip *@
