@{
    ViewData["Title"] = "Home Page";
}

<div class="splash-title">
    <h1 class="display-4">BANDITS OF THE COAST</h1>
    <h3>A character creation app for the upcoming rpg classic</h3>
</div>
